# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/DVA222_Project/Debug/DVA222_Project.ilk
/DVA222_Project/Debug/DVA222_Project.pdb
/DVA222_Project/DVA222_Project.sdf
/DVA222_Project/DVA222_Project.suo
/DVA222_Project/DVA222_Project.v12.suo
/DVA222_Project/DVA222_Project/Debug/DVA222_Project.lastbuildstate
/DVA222_Project/DVA222_Project/Debug/DVA222_Project.log
/DVA222_Project/DVA222_Project/Debug/DVA222_Project.tlog/cl.command.1.tlog
/DVA222_Project/DVA222_Project/Debug/DVA222_Project.tlog/CL.read.1.tlog
/DVA222_Project/DVA222_Project/Debug/DVA222_Project.tlog/CL.write.1.tlog
/DVA222_Project/DVA222_Project/Debug/DVA222_Project.tlog/DVA222_Project.lastbuildstate
/DVA222_Project/DVA222_Project/Debug/DVA222_Project.tlog/link.command.1.tlog
/DVA222_Project/DVA222_Project/Debug/DVA222_Project.tlog/link.read.1.tlog
/DVA222_Project/DVA222_Project/Debug/DVA222_Project.tlog/link.write.1.tlog
/DVA222_Project/DVA222_Project/Debug/vc120.idb
/DVA222_Project/DVA222_Project/Debug/vc120.pdb
/DVA222_Project/DVA222_Project/DVA222_Project.vcxproj.user
/DVA222_Project/ipch/dva222_project-c23e8a10/dva222_project-ae849593.ipch
/DVA222_Project/ipch/dva222_project-dc9a3921/dva222_project-ae849593.ipch
